<!doctype html>
<html ng-app="user_list">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="icon" href="./img/config.png">
    <!-- styles -->
    <link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap-switch.min.css">
    <link rel="stylesheet" type="text/css" href="vendor/angular/angular-toastr-1.4.1.min.css">
    <link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
    <link rel="stylesheet" type="text/css" media='all' href="vendor/angular/loading-bar.min.css">
    <link rel="stylesheet" type="text/css" href="styles/common-style.css">

    <title>用户管理</title>
</head>

<body>

<apollonav></apollonav>
<div class="container-fluid apollo-container" ng-controller="UserListController">
    <div class="row">
        <div class="col-md-12">
            <button type="button" class="btn btn-primary btn-sm" ng-click="createItem()">
                <img src="img/plus.png" width="20px">
                新增用户
            </button>
            <div class="panel namespace-panel">
                <div class="namespace-view-table">
                    <div>
                        <table class="table table-bordered table-striped table-hover">
                            <thead>
                            <tr>
                                <th>用户名</th>
                                <th>名称</th>
                                <th>邮箱</th>
                                <th>状态</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="item in users">
                                <td ng-bind="item.userId"></td>
                                <td ng-bind="item.name"></td>
                                <td ng-bind="item.email"></td>
                                <td >
                                    <my-input value="{{item}}" fun = "enabled(toEditItem,state)"></my-input>
                                </td>
                                <td width="8%" class="text-center">
                                    <img src="img/edit.png" data-tooltip="tooltip" data-placement="bottom" title="修改"
                                         ng-click="editItem(item)">
                                    <img style="margin-left: 5px;" src="img/cancel.png"
                                         data-tooltip="tooltip" data-placement="bottom" title="删除"
                                         ng-click="preDeleteItem(item.userId)">
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <nav>
                <ul class="pagination">
                    <li>
                        <a ng-click="Previous()">
                            <span>上一页</span>
                        </a>
                    </li>
                    <li ng-repeat="page in pageList" ng-class="{active: isActivePage(page)}">
                        <a ng-click="selectPage(page)">{{ page }}</a>
                    </li>
                    <li>
                        <a ng-click="Next()">
                            <span>下一页</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>


    <usermodal user="user" item="item"></usermodal>

    <apolloconfirmdialog apollo-dialog-id="'deleteUserDialog'" apollo-title="'删除用户'"
                         apollo-detail="'确定要删除用户吗?'"
                         apollo-show-cancel-btn="true" apollo-confirm="deleteItem"></apolloconfirmdialog>

</div>

<div ng-include="'views/common/footer.html'"></div>


<!--angular-->
<script src="vendor/angular/angular.min.js"></script>
<script src="vendor/angular/angular-resource.min.js"></script>
<script src="vendor/angular/angular-toastr-1.4.1.tpls.min.js"></script>
<script src="vendor/angular/loading-bar.min.js"></script>

<!-- jquery.js -->
<script src="vendor/jquery.min.js" type="text/javascript"></script>
<script src="vendor/select2/select2.min.js" type="text/javascript"></script>

<!-- bootstrap.js -->
<script src="vendor/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script src="vendor/bootstrap/js/bootstrap-switch.min.js" type="text/javascript"></script>

<!--valdr-->
<script src="vendor/valdr/valdr.min.js" type="text/javascript"></script>
<script src="vendor/valdr/valdr-message.min.js" type="text/javascript"></script>

<script type="application/javascript" src="scripts/app.js"></script>
<script type="application/javascript" src="scripts/services/AppService.js"></script>
<script type="application/javascript" src="scripts/services/EnvService.js"></script>
<script type="application/javascript" src="scripts/services/UserService.js"></script>
<script type="application/javascript" src="scripts/services/CommonService.js"></script>
<script type="application/javascript" src="scripts/AppUtils.js"></script>
<script type="application/javascript" src="scripts/services/OrganizationService.js"></script>
<script type="application/javascript" src="scripts/directive/directive.js"></script>
<script type="application/javascript" src="scripts/services/PermissionService.js"></script>

<script type="application/javascript" src="scripts/services/EventManager.js"></script>

<script type="application/javascript" src="scripts/controller/UserListController.js"></script>
<script type="application/javascript" src="scripts/directive/user-modal-directive.js"></script>
<script type="application/javascript" src="scripts/directive/switch-directive.js"></script>

<script src="scripts/valdr.js" type="text/javascript"></script>
</body>
</html>
